:root {
    --branco: #fff;
    --azul: #0F2347;
    --azul-escuro: #09152b;
    --verde: #80AD5C;
    --verde-escuro: #4f6b38;
    --dourado: #AC9158;
    --cinza-claro: #f1f1f1;
    --cinza: #6d6d6d;
    --cinza-escuro: #1b1b1b;
}


.sem-marcadores {
    list-style-type: none;
}

.sem-sublinhado {
    text-decoration: none;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo {
    font-size: 2em;
    font-weight: 600;
    color: var(--verde);
}

.form-label {
    font-size: 1.1em;
    font-weight: 500;
}

.botao-form {
    color: var(--branco);
    background-color: var(--verde);
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}

.botao-form:hover {
    transition: 0.3s ease, transform 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 4px 10px var(--dourado);
}