:root {
    --branco: #fff;
    --azul: #0F2347;
    --azul-escuro: #09152b;
    --verde: #80AD5C;
    --verde-escuro: #4f6b38;
    --dourado: #AC9158;
    --cinza-claro: #f1f1f1;
    --cinza: #6d6d6d;
    --cinza-escuro: #1b1b1b;
}

.sem-marcadores {
    list-style-type: none;
}

.sem-sublinhado {
    text-decoration: none;
}

.titulo {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitulo {
    font-size: 2em;
    font-weight: 600;
    color: var(--verde);
}

.form-label {
    font-size: 1.1em;
    font-weight: 500;
}

.form-control {
    background-color: transparent;
    color: var(--branco);
    border: none;
    border-bottom: 2px solid var(--dourado);
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--branco);
    border-bottom: 2px solid var(--dourado);
}

